cmake-build-*/*
#.idea/
/.idea/
traces/*.dpc

*.blg
*.bbl
*.auxlock
*.log
*.fls
*.run.xml
*.out
*.fdb_latexmk
*.synctex.gz
*.aux
*.bcf
/build/
report/figures/*.dep
report/figures/*.dpth
report/figures/*.md5
/report/_minted*/*
